/*GOOGLE FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Raleway:wght@400;600;700&display=swap');

/*MISCELANEOUS*/

@import url(./misc/normalize.css);

/*PARTIALS*/

@import url(./partials/header.css);
@import url(./partials/footer.css);


/*PAGINAS*/

@import url(./pages/home.css);
@import url(./pages/shop.css);
@import url(./pages/item.css);
@import url(./pages/cart.css);



/* un poquito de color en header y footer*/
header , footer {
    background-color: var(--dark-bg-solid);
}

/*Se agregan el estilo al slide*/

.slider-container{
    display:flex;
    align-items: center;
    justify-content: center;
    
    
}
.last-release{
    display: flex;
    justify-content: center;

}
.last-release h2{
    font-size: 48px;

}
.elemento{
    /* list style -none quita el item que aparece por defecto en las listas*/
list-style-type: none;
    margin: 48px;
}
.elemento article{
    font-size:  8px;
}

.elementos{ 
    gap: 80px;
    display: flex;
}
.elementos img{
    width: 300px;
}
.btn-slider{
    display: flex;
    align-items: center;
}
.nuevo{

 display: flex;
flex-direction:row-reverse;
}
.nuevo i{

    font-style: normal;
}

/*Terminan los estilos del slider*/