.slider-container{
    display:flex;
    align-items: center;
}
.last-release{
    font-size:24px;
    display: flex;
    justify-content:flex-start;
}
.elemento{
    /* list style -none quita el item que aparece por defecto en las listas*/
list-style-type: none;
    margin: 48px;
}

.elemento article{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4px;
}
.elementos{ 
    font-size: small;
    display: flex;
}
.elementos img{
    margin-left: -70px;
    width: 290px;
}
.btn-slider{
    display: flex;
    align-items: center;
}
.nuevo{
 display: flex;
flex-direction: row-reverse;
width: 200px; 
}
.nuevo i{
    height: 24px;

    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 55px;
    color: #FFFFFF;
    background-color: #FF3333;;

    font-style: normal;
}

/*Terminan los estilos del slider*/