<%- include ('./partials/header.ejs') %>
    <!--FIN DEL HEADER-->
    <!--COMIENZA SECCIÓN VISTA SHOP-->
    <div class="shop">
    <!--comienza aside-->
        <aside>
            <ul class="menu">
                <li class="sub-menu">
                    <h3 class="tittle-aside">BUSCAR</h3>
                    <input class="search__aside" type="text" placeholder="item o categoria"> 
                </li>
                <li class="sub-menu">
                    <h3 class="tittle-aside">ORDENAR POR</h3>
            <select class="select__aside">
                <option>Mayor a Menor</option>
                <option>Menor a Mayor</option>
                <option>Ofertas</option>
                <option>Envio gratis</option>
            </select>
                </li>
                <li class="sub-menu">
                    <h3 class="tittle-aside">PRECIO</h3>
                    <div class="min-max">
                     <span>
                     <p>MIN <input type="number" placeholder="0">
                     - MAX <input type="number" placeholder="10"></p>
                     </span>
                </li>
                <li class="sub-menu">
                    <h3 class="tittle-aside">FILTRAR</h3>
                    <ul class="aside-list__checkbox">
                      <li><input type="checkbox"  name="Nuevos" >
                    <label for="Nuevos">NUEVOS</label><br></li>
                      <li><input type="checkbox"  name="Nuevos" >
                    <label for="Nuevos">OFERTA</label><br></li>
                      <li><input type="checkbox"  name="Nuevos" >
                    <label for="Nuevos">EDICION ESPECIAL</label><br></li>
                      <li><input type="checkbox"  name="Nuevos" >
                    <label for="Nuevos">FAVORITOS</label><br></li>
                    </ul>
                </li>
            </ul>
    </aside>
    <!--fin aside-->
    <!--comienza main-->
    <main>
        <div class="container__card">
           
            <div class="card">
                <h3 class="card__new">NUEVO</h3>
                <img class="card__image" src="../img/star-wars/trooper-1.webp" alt="figura STORMTROOPER">
                <div class="card__description">
                    <p class="card__collection">STAR WARS</p>
                    <h4 class="card__character">STORMTROOPER LIGHTSABER</h4>
                    <p class="card__price">$ 1799.99</p>
                    <p class="card__info">3 CUOTAS SIN INTERÉS</p>
                </div>
            </div>
            <div class="card">
                <h3 class="card__new">NUEVO</h3>
                <img class="card__image" src="../img/pokemon/pidgeotto-1.webp" alt="figura PIDGEOTTO">
                <div class="card__description">
                    <p class="card__collection">POKEMON</p>
                    <h4 class="card__character">PIDGEOTTO</h4>
                    <p class="card__price">$ 1799.99</p>
                    <p class="card__info">3 CUOTAS SIN INTERÉS</p>
                </div>
            </div>
            <div class="card">
                <h3 class="card__new">NUEVO</h3>
                <img class="card__image" src="../img/harry-potter/luna-1.webp" alt="figura LUNA">
                <div class="card__description">
                    <p class="card__collection">HARRY POTTER</p>
                    <h4 class="card__character">LUNA LOVEGOOD LION MASK</h4>
                    <p class="card__price">$ 1799.99</p>
                    <p class="card__info">3 CUOTAS SIN INTERÉS</p>
                </div>
            </div>
            <div class="card">
                <h3 class="card__new">NUEVO</h3>
                <img class="card__image" src="../img/star-wars/trooper-1.webp" alt="figura STORMTROOPER">
                <div class="card__description">
                    <p class="card__collection">STAR WARS</p>
                    <h4 class="card__character">STORMTROOPER LIGHTSABER</h4>
                    <p class="card__price">$ 1799.99</p>
                    <p class="card__info">3 CUOTAS SIN INTERÉS</p>
                </div>
            </div>
            <div class="card">
                <h3 class="card__new">NUEVO</h3>
                <img class="card__image" src="../img/pokemon/pidgeotto-1.webp" alt="figura PIDGEOTTO">
                <div class="card__description">
                    <p class="card__collection">POKEMON</p>
                    <h4 class="card__character">PIDGEOTTO</h4>
                    <p class="card__price">$ 1799.99</p>
                    <p class="card__info">3 CUOTAS SIN INTERÉS</p>
                </div>
            </div>
            <div class="card">
                <h3 class="card__new">NUEVO</h3>
                <img class="card__image" src="../img/harry-potter/luna-1.webp" alt="figura LUNA">
                <div class="card__description">
                    <p class="card__collection">HARRY POTTER</p>
                    <h4 class="card__character">LUNA LOVEGOOD LION MASK</h4>
                    <p class="card__price">$ 1799.99</p>
                    <p class="card__info">3 CUOTAS SIN INTERÉS</p>
                </div>
            </div>  
            <div class="card">
                <h3 class="card__new">NUEVO</h3>
                <img class="card__image" src="../img/star-wars/trooper-1.webp" alt="figura STORMTROOPER">
                <div class="card__description">
                    <p class="card__collection">STAR WARS</p>
                    <h4 class="card__character">STORMTROOPER LIGHTSABER</h4>
                    <p class="card__price">$ 1799.99</p>
                    <p class="card__info">3 CUOTAS SIN INTERÉS</p>
                </div>
            </div>
            <div class="card">
                <h3 class="card__new">NUEVO</h3>
                <img class="card__image" src="../img/pokemon/pidgeotto-1.webp" alt="figura PIDGEOTTO">
                <div class="card__description">
                    <p class="card__collection">POKEMON</p>
                    <h4 class="card__character">PIDGEOTTO</h4>
                    <p class="card__price">$ 1799.99</p>
                    <p class="card__info">3 CUOTAS SIN INTERÉS</p>
                </div>
            </div>
            <div class="card">
                <h3 class="card__new">NUEVO</h3>
                <img class="card__image" src="../img/harry-potter/luna-1.webp" alt="figura LUNA">
                <div class="card__description">
                    <p class="card__collection">HARRY POTTER</p>
                    <h4 class="card__character">LUNA LOVEGOOD LION MASK</h4>
                    <p class="card__price">$ 1799.99</p>
                    <p class="card__info">3 CUOTAS SIN INTERÉS</p>
                </div>
            </div>   
                 
        </div>
    </main>
    <!--fin main-->
</div>
<%- include ('./partials/footer.ejs') %>
