<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/index.css" />
    <script
      src="https://kit.fontawesome.com/02d604df7e.js"
      crossorigin="anonymous"
    ></script>
    <title><%= title %></title>
  </head>
  <body>
    <!--comienza el header-->
    <header>
      <nav class="navbar container">
        <picture class="navbar__logo">
          <a href="/home"
            ><img
              src="../../img/branding/logo_light_horizontal.svg"
              alt="Logotipo Funkoshop"
          /></a>
        </picture>
        <ul class="navbar__menu">
          <li class="navbar__link">
            <a href="/shop">VER TIENDA</a>
          </li>
          <li class="navbar__link">
            <a href="/admin">ADMIN</a>
          </li>
          <li class="navbar__link">
            <a href="/auth/login">SALIR</a>
          </li>
        </ul>
      </nav>
    </header>
    <!--fin del header-->