
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Funkoshop|HOME</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="../css/index.css">
   </head>

<body>
    <!--comienza el header-->
    <header>
      <nav class="navbar container">
        <picture class="navbar__logo">
          <a href="./index.html"
            ><img
              src="../img/branding/logo_light_horizontal.svg"
              alt="Logotipo Funkoshop"
          /></a>
        </picture>
        <ul class="navbar__menu">
          <li  class="  with-submenu">
            <a class="navbar__link" href="pages/shop.html" >SHOP <iconify-icon icon="carbon:chevron-down"></iconify-icon></a>
            <ul class="submenu">
              <li class="submenu__item"> <a href="" class="submenu__link">Funkos</a></li>
              <li class="submenu__item"> <a href="" class="submenu__link">Remeras</a></li>
              <li class="submenu__item"> <a href="" class="submenu__link">Llaveros</a></li>
            </ul>
          </li>
          <li class="navbar__link"><a href=""></a>CONTACTO</li>
          <li class="navbar__link"><a href="pages/admin/login.html">LOGIN</a></li>
          <li>
            <a href="pages/cart.html"><img src="./img/icons/cart-icon.svg" alt="" /></a>
          </li>
        </ul>
      </nav>

    </header>