<%- include ('../partials/headerAdmin.ejs') %>
    <main class="orden container">
      <label class="labels" for="">
        <i class="fa-solid fa-magnifying-glass gap_adm"
          ><input
            class="boxes__admin"
            type="text"
            placeholder="codigo, nombre o categoria"
        /></i>
      </label>

      <section class="titulo_tabla_admin between">
        <h3 class="title__admin">LISTADO DE PRODUCTOS</h3>
        <span class="text__agregar"
          >AGREGAR
          <button class="square-btn" onclick="location.href='/admin/create'">
            <i class="fa-solid fa-square-plus"></i>
        </button>
        </span>
      </section>
      <table class="listado_de_producto">
        <thead>
          <tr>
            <th>ID</th>
            <th>Codigo</th>
            <th>Nombre del Producto</th>
            <th>Categoria</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>STW001001</td>
            <td>Baby Yoda Blueball</td>
            <td>STAR WARS</td>
            <td><a href="/admin/edit/:id"><i class="fa-solid fa-pen"></i></a></td>
            <td><a href="/admin/delete/:id'"><i class="fa-regular fa-trash-can"></i></a></td>
          </tr>
          <tr>
            <td>2</td>
            <td>STW001002</td>
            <td>Boba Fett Fighter</td>
            <td>STAR WARS</td>
            <td><a href="/admin/edit/:id"><i class="fa-solid fa-pen"></i></a></td>
            <td><a href="/admin/delete/:id'"><i class="fa-regular fa-trash-can"></i></a></td>
          </tr>
          <tr>
            <td>3</td>
            <td>STW001003</td>
            <td>Luke Skylwalker & Grogu</td>
            <td>STAR WARS</td>
            <td><a href="/admin/edit/:id"><i class="fa-solid fa-pen"></i></a></td>
            <td><a href="/admin/delete/:id'"><i class="fa-regular fa-trash-can"></i></a></td>
          </tr>
          <tr>
            <td>4</td>
            <td>STW001004</td>
            <td>Stormtrooper Lightsaber</td>
            <td>STAR WARS</td>
            <td><a href="/admin/edit/:id"><i class="fa-solid fa-pen"></i></a></td>
            <td><a href="/admin/delete/:id'"><i class="fa-regular fa-trash-can"></i></a></td>
          </tr>
          <tr>
            <td>5</td>
            <td>PKM001001</td>
            <td>Charmander Smiley</td>
            <td>POKEMON</td>
            <td><a href="/admin/edit/:id"><i class="fa-solid fa-pen"></i></a></td>
            <td><a href="/admin/delete/:id'"><i class="fa-regular fa-trash-can"></i></a></td>
          </tr>
          <tr>
            <td>6</td>
            <td>PKM001002</td>
            <td>Dragonite Hi!</td>
            <td>POKEMON</td>
            <td><a href="/admin/edit/:id"><i class="fa-solid fa-pen"></i></a></td>
            <td><a href="/admin/delete/:id'"><i class="fa-regular fa-trash-can"></i></a></td>
          </tr>
          <tr>
            <td>7</td>
            <td>PKM001003</td>
            <td>Pidgeotto Flying</td>
            <td>POKEMON</td>
            <td><a href="/admin/edit/:id"><i class="fa-solid fa-pen"></i></a></td>
            <td><a href="/admin/delete/:id'"><i class="fa-regular fa-trash-can"></i></a></td>
          </tr>
          <tr>
            <td>8</td>
            <td>PKM001004</td>
            <td>Pikachu Smiley</td>
            <td>POKEMON</td>
            <td><a href="/admin/edit/:id"><i class="fa-solid fa-pen"></i></a></td>
            <td><a href="/admin/delete/:id'"><i class="fa-regular fa-trash-can"></i></a></td>
          </tr>
          <tr>
            <td>9</td>
            <td>PKM001005</td>
            <td>Vulpix Fancy</td>
            <td>POKEMON</td>
            <td><a href="/admin/edit/:id"><i class="fa-solid fa-pen"></i></a></td>
            <td><a href="/admin/delete/:id'"><i class="fa-regular fa-trash-can"></i></a></td>
          </tr>
          <tr>
            <td>10</td>
            <td>HPT001001</td>
            <td>Harry Potter & Hegwid</td>
            <td>HARRY POTTER</td>
            <td><a href="/admin/edit/:id"><i class="fa-solid fa-pen"></i></a></td>
            <td><a href="/admin/delete/:id'"><i class="fa-regular fa-trash-can"></i></a></td>
          </tr>
          <tr>
            <td>11</td>
            <td>HPT001002</td>
            <td>Herminione Ball Dress</td>
            <td>HARRY POTTER</td>
            <td><a href="/admin/edit/:id"><i class="fa-solid fa-pen"></i></a></td>
            <td><a href="/admin/delete/:id'"><i class="fa-regular fa-trash-can"></i></a></td>
          </tr>
          <tr>
            <td>12</td>
            <td>HPT001003</td>
            <td>Luna LovegoodLion MASK</td>
            <td>HARRY POTTER</td>
            <td><a href="/admin/edit/:id"><i class="fa-solid fa-pen"></i></a></td>
            <td><a href="/admin/delete/:id'"><i class="fa-regular fa-trash-can"></i></a></td>
          </tr>
          <tr>
            <td>13</td>
            <td>HPT001004</td>
            <td>Snape Patronus</td>
            <td>HARRY POTTER</td>
            <td><a href="/admin/edit/:id"><i class="fa-solid fa-pen"></i></a></td>
            <td><a href="/admin/delete/:id'"><i class="fa-regular fa-trash-can"></i></a></td>
          </tr>
        </tbody>
      </table>
    </main>
    <!--comienza el footer-->
    <%- include ('../partials/footer.ejs') %>

  </body>
</html>
