header {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.navbar__logo {
    max-width: 300px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
    

}

.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background, .3s, ease-in-out;

}
.navbar__link:hover {
    background-color: var(--primary-900); 
}
.navbar img{
        align-items: center;
    justify-content: center;
}
.cart__title {
    font-size: var(--font-large);

    margin-top:50px;
    margin-left: 50px;
    
}
.cart_title{
    font-family: var(--alternative-font);
    width: 415px;
    border-bottom: 2px solid var(--primary-solid);
}
.header__table{
    margin-bottom: 56px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 1400px;
    height: 50px;
    margin-top: 50px;
    background-color: var(--light-font-solid)
}
.header_table{
    font-weight: bold;
    gap: 350px;
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
    display: flex;
 
}
.header__container{
    display: inline;
    align-items: left;
    justify-content: left;
}

.cart__item{
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    display: flex;

}
.cart__item img {
    width: 118px;
}
.cart__description{
  
    width: 400px;
    display: block;
}
.cart__input{
    height: 30px;
    width: 70px;
}
.cart__btns{
    display: flex;
    flex-direction: column;

}

.input__form{
    display: flex;
}