
.cart{
    max-width: 1200px;
    margin-left: 10rem;
}
.title__cart {
    display: inline;
    font-size: var(--font-jumbo);
    font-weight: 300;
    border-bottom: 2px solid var(--primary-solid);
    padding-bottom: var(--spacing-14);
    padding-top: var(--spacing-68);
  
  
}
.cart__menu{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: var(--spacing-36);
    background-color:#FAFAFF;
    padding:var(--spacing-16);
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #00000040;

}

.cart__submenu{
    font-size: var(--font-small);
    font-weight: 600;

}

.container__cart__items{
/*display: flex;
flex-wrap: wrap;*/display: flex;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
    background-color: var(--light-bg-solid);
    padding: 16px;
    margin: 16px;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 1px #00000040;

   
}

.cart__item__details{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: var(--spacing-14);
    width: 35%;
}


.cart__container__info{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    align-items: start;

    
}
.cart__item__quantity{
    margin-left: 9%;

    display:flex;

    
}

.cart__character{
    font-family: var(--base-font);
    font-size: var(--font-large);
    font-weight: 700;
}

.cart__collection{
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
    font-weight:500 ;
    

}

.cart__item__price{
    display: flex;
align-items: center;
justify-content: center;
margin-left: 10%;
}

.cart__item__remove{
    display: flex;
    align-items: center;
    margin-right: 15px;
    
}

.remove__button{
    border-radius: 100%;
    width: 28px;
    height: 28px;
    color: var(--primary-900);
}
.cart__price__info{
    font-family: var( --alternative-font) ;
    font-size: var( --font-xsmall)  ;
font-weight: 1000 ;
}



.cart__image{
    max-width: 100%;


}


.cart__summary__title{
    display: inline;
    font-size: var(--font-jumbo);
    font-weight: 300;
    border-bottom: 2px solid var(--primary-solid);
    padding-bottom: var(--spacing-14);
}

.cart__item{
    display: flex;
    justify-content: space-between;
}
.form__input{
    display: flex;
    align-items: center;
}
  


.number__cart__quantity{
    width: 89px;
    height: 40px;
}
.button__column{
padding: 4px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.button__cart__quantity{
    
    width: 18px;
    height: 18px;
}

.cart__price__subtotal{
    font-size: var( --font-medium);
}