/*header*/
img{
  width: 100%;
}
header {
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-36);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_logo{
  max-width: 300px;

}
.navbar_menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-20);
}

.navbar__link{
  font-size: var(--font-medium) ;
  padding: var(--spacing-8) var(--spacing-16);
  display: inline-block;
}
.navbar__link:hover {
  background-color:rgb(255, 51, 51, 0.9);
}