p.titulo {
    font-family: Raleway, sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0.04em;
    text-align: right;
    width: 274px;
    height: 49px;
    position: relative;
    top: 180px;
    left: 109.14px;
}
