@import url(../misc/normalize.css);
@import url(../partials/header.css);
@import url(../partials/footer.css);


/*COLLECTION*/

.collection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.collection:nth-child(2) .collection__cover{
    order: -1;
}
.collection__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
}
.collection__title{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 500;
}
.collection__text{
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 300;
    padding-bottom: var(--spacing-20);
}
.collection__link{
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    font-weight: 500;
    transition: background .3s ease-out;
}
.collection__link:hover{
    background-color: var(--primary-900);
}


/* SLIDER*/
.slider{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;

}
.slider__title{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;
}
.slider__items{
    display: flex;
    gap: var(--spacing-24);
}

.card-item__cover{
    display: flex;
    position: relative;
}
.card-item__tag{
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
}
.card-item__cover img{
    animation: fade .7s;
}
.card-item__img--back{
    display: none;
}
.card-item__cover:hover .card-item__img--back{
    display:block;
}
.card-item__cover:hover .card-item__img--front{
    display:none;
}
.card-item__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
padding: var(--spacing-16);
}
.card-item__licence{
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.card-item__name{
    font-size: var(--font-medium);
    font-weight: 700;
}

.card-item__price{
    font-size: var(--font-small);
  
}

.card-item__promo{
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 500;
}

.card-item picture {
   
    height: 34em;
}

/* Item botones + - */
.item__licence {
    font-size: var(--font-small);
    font-weight: 500;
}

.item__name {
    font-size: var(--font-jumbo);
    font-weight: 700;
}

.item__description {
    font-size: var(--font-large);
    font-weight: 400;
}

.item__price {
    font-size: var(--font-jumbo);
    font-weight: 400;
}

.item__cart {
    display: flex;
    gap: var(--spacing-16);
}

.item__cart .item__quantity {
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    border: none;
    cursor: pointer;
}

.item__cart .item__input {
    font-size: var(--font-large);
    padding: 6px var(--spacing-16);
    text-align: center;
    max-width: 70px;
}

.item__cart .item__submit {
    font-size: var(--font-medium);
}

.item__info {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
}

.item__promo {
    font-size: var(--font-xsmall);
    font-weight: 700;
    color: var(--secondary-solid);
}
/* Fin item botones + - */



@keyframes fade{
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}