/*divide l vista en las 2 partes aside/main*/
.shop{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

aside{
    font-family: var(--base-font);
    padding: 5rem 2rem 0 10rem;
    color: black;
    font-weight: 500;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.sub-menu{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.tittle-aside{
    font-size: var(--font-large);
    font-weight: 600;
}

.search__aside{
    border: 0.2px #30343F solid;
    color: #606674;
    width: 235px;
    height: 40px;
    border-radius: 6px;
    text-align:justify;
    text-indent: 2%;
}

.select__aside{
    border: 0.2px #30343F solid;
    color: #606674;
    width: 235px;
    height: 40px;
    border-radius: 6px;
    text-align:justify;
    text-indent: 2%;
}

.select__aside option{
    background-color: var(--dark-bg-solid);
    color: var(--light-bg-solid);
}

.select__aside option :hover{
    
}

.min-max{
    font-size: .8em;
    display: flex;
    justify-content: stretch;
}

.min-max input{
 width: 60px;
 height: 25px;
 border-radius: 6px;
 margin-left: 10px;
 margin-right: 5px;
}

.aside-list__checkbox{
    font-size: var(--font-xsmall);

}

/*ESTILOS PARA CARDS*/


main{
    padding: 5rem 10rem 1rem 0;
    display: grid;
    grid-template-columns: repeat(3 1fr);
    gap: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card__image{
    max-width: 100%;
}

.card__description{
    display: flex;
    flex-direction: column;
}

.card__new{
    align-self: self-end;
    font-size: var(--font-xsmall);
    font-weight: bold;
    background-color: var(--primary-solid);
    color: white;
    padding: 0.5rem 1rem;
    margin-bottom: 0%;
   
}

.card__collection{
    font-size: var(--font-small);
    font-weight: 500;
    color: var(--dark-500);

}

.card__character{
    width: 100%;
    font-size: var(--font-medium);
    font-weight: 700;

}

.card__price{
    font-size: var(--font-small);
    font-weight: 400;
    color: var(--dark-500);

}

.card__info{
    font-size: var(--font-xsmall);
    font-weight: 700;
    color: var(--secondary-solid);

}



/*body{
    max-width: 1200px;
}

.shop{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.box-container__aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    border: 1px black solid;
    font-family: var(--base-font);
}
.box-container__aside > div {
    margin-bottom: 1rem;
  }

div .tittle-aside{
  
    font-size: var(--font-large);
    font-weight: 600;
}

 .min-max{
    font-size: var(--font-small);
    display: flex;
    justify-content: space-between;

}


li{
    font-size: var(--font-medium);
}

input {
    font-size: var(--font-medium);
    border: 1px black solid;
}

.select__aside{
    font-size: var(--font-medium);
    border: 1px black solid;

}

option{
    font-family: var(--base-font);
    font-size: var(--font-medium);

}



.cards__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    width: 33%;
    height: 500px
}

.card__image{
    display: flex;
    width: 100%;
    height: 75%;
}

image picture{
    width: 100%;
}

.new{
    align-self: self-end;
    font-size: var(--font-xsmall);
    font-weight: bold;
    background-color: var(--primary-solid);
    color: white;
    padding: 1rem 2rem;
}

.description__collection{
    font-size: var(--font-small);
    font-weight: 500;
    color: var(--dark-500);

}

.description__character{
    width: 100%;
    font-size: var(--font-medium);
    font-weight: 700;

}

.description__price{
    font-size: var(--font-small);
    font-weight: 400;
    color: var(--dark-500);

}

.description__info{
    font-size: var(--font-xsmall);
    font-weight: 700;
    color: var(--secondary-solid);

}



*/